body {
    background:#594114;
    font-family:'Times New Roman', Times, serif;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background: #f2dcc9;
    border-radius: 5px;
    box-shadow: 5px 10px #D91604;
}

.assignment img {
    width:200px;
    padding:10px;
    border: 2px solid #731b07;
    margin-right: 20px;
    border-radius: 5px;
}

h1 {
    color:#D91604;
    text-align: center;
}

a {
    text-decoration:none;
    color:#731b07;
}

.assignment a:hover {
    color:#D91604;
}