body {
    background:#594114;
    font-family:'Times New Roman', Times, serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: #f2dcc9;;
}

.assignment img {
    width:200px;
    padding:10px;
    border: 2px solid #731b07;
    margin-right: 20px;
}

h1 {
    color:#D91604;
    text-align: center;
}

a {
    text-decoration:none;
    color:#D91604;
}